.login-container {
  display: flex;
  height: 10vh;
  align-items: center;
  background-color: #999;
  justify-content: space-between;
  padding: 0 2rem;
}
.google-login-btn {
  height: 2rem;
}
.google-logout-btn {
  height: 2rem;
  align-self: center;
}
.login-user-info-container {
  display: flex;
  /* align-items: center; */
  gap: 2rem;
  height: 100%;
}
.login-h2 {
  font-size: 1rem;
  margin: 0;
  /* padding: 0.2rem; */
}
.login-user-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.login-user-name {
}
